<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:\src\tss\Test_Folder">
        <classes>
            <class name="Testbytesting"/>
            <class name="BuyMonitorInRozetka"/>
        </classes>
    </test>
</suite>